<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vegeta.taskmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <uses-library android:name="android.test.runner" />

        <activity android:name="com.taskmanager.app.ui.Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.taskmanager.app.ui.AddTask" >
        </activity>
        <activity android:name="com.taskmanager.app.ui.CMain" >
        </activity>
         <activity android:name="com.taskmanager.app.ui.TaskDesc" >
        </activity>
        <receiver android:name="com.taskmanager.app.ui.AddTask$MyReceiver"></receiver>
    </application>
    
    

    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Test for my app"
        android:targetPackage="com.taskmanager.app.test" />

</manifest>